<div class="homeContainer">
  <!-- <p></p> -->
  <app-card
    gameCover="assets/bt-1.jpg"
    gameName="Battlefield 1"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 99,99"
  />
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameName="Battlefield Bad Company 2"
    gameLabel="Exclusive"
    gameType="PS3"
    gamePrice="R$ 49,99"
  />

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameName="Battlefield Hardline"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 99,99"
  />

  <app-card
    gameCover="assets/bt-4.jpg"
    gameName="Battlefield 4"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 99,99"
  />

  <app-card
    gameCover="assets/bt-5.jpg"
    gameName="Battlefield 5"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 199,99"
  />

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameName="Assasin's Creed"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 199,99"
  />
</div>
