<div class="menuContainer">
  <div class="menuLogo">
    <img src="assets/ps-logo.png" alt="" width="140px" height="32px" />
  </div>

  <div class="menuItem">
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/erick-william-16ab4a238/"
          target="_blank"
        >
          <img
            align="center"
            src="https://img.shields.io/badge/-ErickWilliam-05122A?style=flat&logo=linkedin"
            alt="Linkedin"
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/Erickwsantos" target="_blank">
          <img
            align="center"
            src="https://img.shields.io/badge/-ErickWilliam-05122A?style=flat&logo=github"
            alt="Github"
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/erickwillian49/" target="_blank">
          <img
            align="center"
            src="https://img.shields.io/badge/-ErickWilliam-05122A?style=flat&logo=instagram"
            alt="Instagram"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
